@mixin social-buttons($color) {
  color: $color;
  background-color: rgba($color, .3);
  &:hover { background-color: rgba($color, .5); }
}

@mixin addIcon($pathIcon, $color) {
  &::before {
    content: "";
    @content;
    color: $color;
    background-image: url($pathIcon);
    filter: $color;
  }
}

@mixin from($breakPoint) {
  @if map-has-key($breakPoints, $breakPoint) {
    @media screen and (min-width: map_get($breakPoints, $breakPoint)) {
      @content;
    }
  } @else {
    @media screen and (min-width: $breakPoint) {
      @content;
    }
}
}
