$header-height: 4rem;
$max-width: 75rem;

$breakPoints: (
  small: 20em, // 320px
  medium: 48em, // 768px
  large: 75em // 1200px
);

/* Brand color palette */
:root {
  --color-primary: #FF9800;
  --color-second: #EF6C00;
  --color-accent: #2962FF;
  --color-text: #263238;
  --color-text2: #1D272C;
  --color-bg: #FFF3E0;
  --color-bg2: #ffe0b2;
  --color-white: #FAFAFA;
}
$color-primary: #FF9800;
$color-second: #EF6C00;
$color-accent: #2962FF;
$color-text: #263238;
$color-text2: #1D272C;
$color-bg: #FFF3E0;
$color-white: #FAFAFA;


/* template default color blue */
// :root {
//   --color-primary: #2196F3;
//   --color-second: #0277BD;
//   --color-accent: #2962FF;
//   --color-text: #263238;
//   --color-text2: #1D272C;
//   --color-bg: #B3E5FC;
//   --color-white: #FAFAFA;
// }
// $color-primary: #2196F3;
// $color-second: #0277BD;
// $color-accent: #2962FF;
// $color-text: #263238;
// $color-text2: #1D272C;
// $color-bg: #FFF3E0;
// $color-white: #FAFAFA;


/* typography */
:root {
  --font-title: 'Montserrat-Bold', arial;
  --font-content: 'Roboto-Regular', arial;
  --letter-spacing: 0.09375em; // 1.5px 
  --h1-font-size: 1.953em;
  --h2-font-size: 1.563em;
  --h3-font-size: 1.25em;
  --body-font-size: 1em;
  --smaller-font-size: .8em;
  --small-font-size: .64em;

  @include from (medium) {
    --h1-font-size: 2.441em;
    --h2-font-size: 1.953em;
    --h3-font-size: 1.563em;
    --body-font-size: 1.25em;
    --smaller-font-size: .1em;
    --small-font-size: .8em;
  }
}

/* Variables de apilamiento */
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

// Colores para socials (contacto)
:root {
  --color-facebook: #1976d2;
  --color-whatsapp: #4CAF50;
  --color-gmail: #F44336;
}

$color-facebook: #1976d2;
$color-whatsapp: #4CAF50;
$color-gmail: #F44336;

$shadow: rgba($color-text2, .2) 0 .25em .5em;

.b-shadow { 
  box-shadow: rgba($color-text, .2) 0  0.25em 0.5em; // 0 4px 8px 
}
.strong {
  font-family: 'Roboto-Medium';
}
