block config
  include variables
  include /includes/banner-mixin
  include /includes/form-mixin

doctype html
html(lang="es")
  head
    title= `${siteName} | Login Hotspot`
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="description" content=metaDescription)
    block styles
      link(rel="stylesheet" href="/css/style.css")
      link(rel="shortcut icon" href="/public/images/favicon.png")
    block fonts
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">
    
  body
    // ----------- main header -----------  
    header.main-header
      block header
        div.main-header__block
          img.logo(src="/images/logo-white.png" alt="Logo de la página")
          div(class="main-menu-icon" id="js-menu-icon")
        // ------------ main nav ------------------- 
        nav(class="main-nav" id="js-nav")
          include /includes/menu
    
    // ----------- main -----------  
    main.main
      block main
    
    // ----------- main footer -----------  
    footer.main-footer
      block footer
    
    block scripts
      script(src="/js/script.js")
      script(src="https://polyfill.io/v3/polyfill.min.js?features=default")
