-let pageTitle = 'Inicio'
-let siteName = 'Inouti'.toUpperCase()
-let metaDescription = `Plantilla para Mikrotik | Hotspot by ${siteName} 🧡`
-let pageImage = ''

-
  let pages = [
    {
      title: 'Inicio',
      url: '/',
      child: []
    },
    {
      title: 'Nosotros',
      url: '#',
      child: []
    },
    {
      title: 'Servicios',
      url: '#',
      child: []
    },
    {
      title: 'Ver otros negocios',
      url: '#',
      child: []
    }
  ]
