-let pageTitle = 'Inicio'
-let siteName = 'Inouti'.toUpperCase()
-let metaDescription = `Plantilla para Mikrotik | Hotspot by ${siteName} 🧡`
-let currentPage = 'Inicio'
-let pageImage = ''
-let metaColor = '#FF9800'

-
  let pages = [
    {
      title: 'Inicio',
      url: '/',
      child: []
    },
    {
      title: 'Nosotros',
      url: '#aboutUs',
      child: []
    },
    {
      title: 'Servicios',
      url: '#services',
      child: []
    },
    {
      title: 'Negocios Ads',
      url: '#adsBusiness',
      child: []
    }
  ]
