-let pageTitle = 'Inicio'
-let siteName = 'Tienda Pepito'
-let metaDescription = 'Mi page esta muy guay, contratame 🧡'
-let pageImage = ''

-
  let pages = [
    {
      title: 'Inicio',
      url: '/',
      child: []
    },
    {
      title: 'About',
      url: 'about.html',
      child: [
        {
          title: 'Subitem1',
          url: 'subitem1.html'
        },
        {
          title: 'Subitem2',
          url: 'subitem2.html'
        }
      ]
    }
  ]