extends /config/template

block main
  +banner('/images/banner-image.jpg', 'Inouti', 'Empresa de tecnología 100% campechana, brindamos respuestas integrales acorde a sus necesidades. Tenemos como objetivo ofrecer soluciones informáticas, dando un diagnóstico preciso y atención personalizada.')
    +form('Hotspot login', 'Escribe tu nombre de usuario', 'Escribe tu contraseña', 'Activar internet')
  include /includes/section-aboutUs
  include /includes/section-services
  include /includes/section-business
