mixin form(title, UserPlaceholderText, PassPlaceholderText, buttonText)
  .form
    span(class="form__title")= `${title.toUpperCase()}`
    form(method="POST")
      div(class="form__input")
        div.icon.icon-user
        input(class="input" id="js-inputName" type="text" placeholder=UserPlaceholderText name="userName" required)
      div(class="form__input")
        div.icon.icon-pass
        input(class="input" id="js-inputPass" type="password" placeholder=PassPlaceholderText name="userPass" required)
      input(class="button-primary" type="submit", value=buttonText)

