mixin form(title, UserPlaceholderText, PassPlaceholderText, buttonText)
  .form
    span(class="form__title")= title.toUpperCase()
    form(method="POST")
      div.form__input
        div.form__icon
        input(class="input" id="js-inputName" type="text" placeholder=UserPlaceholderText name="userName" required)
      div.form__input
        div.form__icon
        input(class="input" id="js-inputPass" type="text" placeholder=PassPlaceholderText name="password" required)
      input(class="button-primary" type="submit", value=buttonText)

