// ----------- main headers -----------  
header.main-header.l-section.l-container
    div.main-header__block
      img.logo(src="/images/logo-white.png" alt="Logo de la página")
      div(class="icon-menu" id="js-menu-open")
    // ------------ main nav ------------------- 
    nav(class="main-nav" id="js-nav")
      include /includes/menu
