// ----------- main headers -----------  
header.main-header
    div.main-header__block
      // -------- logo ------- 
      img.logo(src="/images/logo-white.png" alt="Logo de la página")
      div(class="main-menu-icon" id="js-menu-icon")
    // ------------ main nav ------------------- 
    nav(class="main-nav" id="js-nav")
      include /includes/menu
