ul(class="menu" id="js-menu-close")
  div(class="icon-menu-close" id="js-icon-close")
  each page in pages
    li.menu__item
      a.menu__link(href=page.url)= page.title
        if page.child.length > 0 
          ul
            each page2 in page.child
              li: a(href=page2.url)= page2.title
