// ------------ Section services ---------------- 
section(class="services  l-section" id="js-services")
  h2(class="services__subtitle  center-content" id="services")= pages[2].title.toUpperCase()
  div(class="l-container")
