/*--------------------------\
    $Config
\--------------------------*/
/* color palet */
:root {
  --color-primary: #FF9800;
  --color-second: #EF6C00;
  --color-accent: #2962FF;
  --color-text: #263238;
  --color-text2: #1D272C;
  --color-bg: #FFF3E0;
  --color-white: #FAFAFA; }

/* typography */
:root {
  --font-title: Montserrat, arial;
  --font-content: roboto, arial;
  --letter-spacing: 0.09375em;
  --h1-font-size: 1.953em;
  --h2-font-size: 1.563em;
  --h3-font-size: 1.25em;
  --body-font-size: 1em;
  --smaller-font-size: .8em;
  --small-font-size: .64em; }
  @media screen and (min-width: 48em) {
    :root {
      --h1-font-size: 2.441em;
      --h2-font-size: 1.953em;
      --h3-font-size: 1.563em;
      --body-font-size: 1.25em;
      --smaller-font-size: .1em;
      --small-font-size: .8em; } }

/* Variables de apilamiento */
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000; }

:root {
  --color-facebook: #1976d2;
  --color-whatsapp: #4CAF50;
  --color-gmail: #F44336; }

.b-shadow {
  box-shadow: rgba(38, 50, 56, 0.2) 0 0.25em 0.5em; }

/*--------------------------\
    $Base
\--------------------------*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

*,
*:after,
*:before,
*::after,
*::before {
  box-sizing: border-box; }

body {
  padding: 2rem 1rem 1rem;
  background-color: var(--color-bg);
  font-family: 'Roboto', Arial;
  font-size: var(--font-content); }

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto; }

a {
  color: var(--color-accent);
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: var(--font-title);
  letter-spacing: var(--letter-spacing); }

h1 {
  margin-top: 0;
  margin-bottom: 1em;
  font-size: var(--h1-font-size); }

h2 {
  margin-top: 1.5em;
  margin-bottom: .5em;
  font-size: var(--h2-font-size); }

h3 {
  margin-top: 1.5em;
  margin-bottom: .5em;
  font-size: var(--h3-font-size); }

/*--------------------------\
    $Layout
\--------------------------*/
/*-----------------------*\
    $Layout
\*-----------------------*/
.l-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 75rem;
  height: 100%;
  display: flex;
  flex-wrap: wrap; }

.l-section {
  margin-bottom: 5.5rem; }

.center-block {
  margin-left: auto;
  margin-right: auto; }

.center-content {
  text-align: center; }

/*--------------------------\
    $Components
\--------------------------*/
.main-header {
  justify-content: space-between;
  flex-wrap: nowrap;
  border-radius: 5em;
  margin-bottom: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: var(--color-primary);
  width: 100%;
  height: 4rem;
  box-shadow: rgba(29, 39, 44, 0.2) 0 0.25em 0.5em; }
  .main-header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    @media screen and (min-width: 48em) {
      .main-header__block {
        width: initial; } }
  .main-header .logo {
    width: 4em; }
  .main-header .icon-menu {
    transition: all .3s;
    cursor: pointer; }
    .main-header .icon-menu:active {
      transform: scale(0.9); }
    @media screen and (min-width: 48em) {
      .main-header .icon-menu {
        display: none; } }

.main-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%;
  background-color: rgba(38, 50, 56, 0.9);
  z-index: var(--z-tooltip);
  transition: left .3s; }
  .main-nav.showNav {
    left: 0; }
  @media screen and (min-width: 48em) {
    .main-nav {
      position: initial;
      top: initial;
      left: 0;
      background-color: transparent;
      width: initial; } }

.menu {
  --margin-link: 2em;
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1em;
  padding-left: 0;
  background-color: var(--color-text);
  width: 90%;
  height: 100%; }
  @media screen and (min-width: 48em) {
    .menu {
      display: flex;
      padding-top: initial;
      background-color: initial;
      width: initial;
      height: 100%; } }
  .menu .icon-menu-close {
    border-radius: .5em;
    margin-left: var(--margin-link);
    margin-bottom: 4rem;
    padding: 2em 3em;
    width: 2em;
    height: 2em;
    background-color: var(--color-text2);
    cursor: pointer;
    transition: all .3s;
    box-shadow: rgba(29, 39, 44, 0.6) 0 0.3125em 0.625em; }
    .menu .icon-menu-close:active {
      transform: scale(0.9); }
    @media screen and (min-width: 48em) {
      .menu .icon-menu-close {
        display: none; } }
  .menu__item {
    list-style-type: none; }
  .menu__link {
    display: flex;
    padding-left: var(--margin-link);
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    color: var(--color-primary);
    text-transform: uppercase;
    transition: all .3s; }
    .menu__link:hover {
      color: var(--color-accent);
      background-color: var(--color-text2);
      text-decoration: underline; }
    @media screen and (min-width: 48em) {
      .menu__link {
        position: relative;
        align-items: center;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: initial;
        padding-bottom: initial;
        color: var(--color-white);
        height: 100%; }
        .menu__link:hover {
          color: var(--color-accent);
          background-color: initial;
          text-decoration: none; }
        .menu__link:hover:after {
          content: '';
          position: absolute;
          left: 0;
          border-radius: .5em;
          bottom: 0;
          width: 100%;
          height: .25em;
          background-color: var(--color-accent); } }

.main-banner .content-text {
  color: var(--color-white); }

.main-banner {
  position: relative;
  padding: 2em 1em;
  background-color: var(--color-primary);
  border-radius: 1em;
  overflow: hidden;
  box-shadow: rgba(29, 39, 44, 0.2) 0 0.25em 0.5em; }
  @media screen and (min-width: 48em) {
    .main-banner {
      padding: 2em 3em; } }
  .main-banner__hero-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: .08;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }
  .main-banner .container {
    position: relative; }
  .main-banner__grid {
    max-width: 24em;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (min-width: 48em) {
      .main-banner__grid {
        display: flex;
        max-width: initial;
        margin-left: initial;
        margin-right: initial;
        width: 100%; } }
  .main-banner .content-text {
    text-align: center; }
    @media screen and (min-width: 48em) {
      .main-banner .content-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 60%; } }
  @media screen and (min-width: 48em) {
    .main-banner div.form {
      flex-basis: 40%; } }
  @media screen and (min-width: 48em) {
    .main-banner__title {
      text-align: left;
      margin: 0;
      margin-bottom: 1em;
      width: 50%; } }
  .main-banner__description {
    margin-bottom: 2em; }
    @media screen and (min-width: 48em) {
      .main-banner__description {
        text-align: left;
        margin: 0;
        width: 22em; } }

/*--------------------------\
    $About us
\--------------------------*/
.about-us {
  position: relative;
  text-align: center; }
  .about-us div.l-container {
    max-width: 40rem; }
    @media screen and (min-width: 75em) {
      .about-us div.l-container {
        display: flex;
        max-width: 75rem; } }
  .about-us__subtitle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    margin-bottom: 1em;
    color: var(--color-primary); }
    @media screen and (min-width: 75em) {
      .about-us__subtitle {
        position: initial;
        text-align: initial; } }
  .about-us .container-image {
    width: 100%;
    padding-top: calc(var(--h2-font-size) + 2em); }
    @media screen and (min-width: 75em) {
      .about-us .container-image {
        display: flex;
        flex-basis: 40%;
        padding-top: 0; } }
  .about-us__image {
    width: 24em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5em; }
    @media screen and (min-width: 75em) {
      .about-us__image {
        margin: auto; } }
  @media screen and (min-width: 75em) {
    .about-us__content {
      --margin: 1.5em;
      flex-basis: calc(60% - var(--margin));
      margin-left: var(--margin); } }
  .about-us__text {
    margin-bottom: 2.5em; }
    .about-us__text p {
      margin-top: 0; }
    .about-us__text p:last-child {
      margin-bottom: 0; }
    .about-us__text .strong {
      font-weight: 500; }
    @media screen and (min-width: 75em) {
      .about-us__text {
        text-align: initial; } }
  .about-us__contact {
    margin-left: auto;
    margin-right: auto; }
    .about-us__contact button:first-child {
      margin-bottom: 1em; }
    @media screen and (min-width: 48em) {
      .about-us__contact {
        display: flex; }
        .about-us__contact button:first-child {
          margin-right: 1em;
          margin-bottom: 0; } }

.services__subtitle {
  margin-top: 0;
  margin-bottom: 1em;
  color: var(--color-primary);
  width: 100%; }

@media screen and (min-width: 48em) {
  .services {
    --columns:  2; }
    .services .glide__track {
      overflow: initial; }
    .services .glide__slides {
      display: grid;
      grid-template-columns: repeat(var(--columns), 1fr);
      grid-column-gap: 1em;
      grid-row-gap: 1.5em;
      margin: 0;
      transition: none !important;
      transform: none !important;
      width: 100% !important;
      overflow: initial !important; }
    .services .glide__slide {
      width: 100% !important;
      margin: 0 !important; }
    .services .glide__arrows {
      display: none; } }

@media screen and (min-width: 900px) {
  .services {
    --columns: 3; } }

@media screen and (min-width: 75em) {
  .services {
    --columns: 4; } }

.business__subtitle {
  margin: 0;
  color: var(--color-primary);
  width: 100%; }

.main-footer {
  border-radius: 1em;
  margin-bottom: 2em;
  padding-top: 4em;
  background-color: var(--color-text);
  overflow: hidden; }
  .main-footer div.l-container {
    flex-direction: column; }
  .main-footer .container {
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 4em; }
    @media screen and (min-width: 48em) {
      .main-footer .container {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0; } }
  .main-footer__subtitle {
    margin-top: 0;
    margin-bottom: 4em;
    color: var(--color-primary); }
    @media screen and (min-width: 48em) {
      .main-footer__subtitle {
        width: 100%; } }
  .main-footer__contact {
    flex-basis: 50%; }
    @media screen and (min-width: 75em) {
      .main-footer__contact {
        flex-basis: 33.333333333333336%; } }
  .main-footer__socialnetworks {
    flex-basis: 50%; }
    @media screen and (min-width: 75em) {
      .main-footer__socialnetworks {
        flex-basis: 33.333333333333336%; } }
  .main-footer__services {
    width: 100%; }
    @media screen and (min-width: 75em) {
      .main-footer__services {
        flex-basis: 33.333333333333336%; } }
    .main-footer__services ul {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
      color: var(--color-white); }
      .main-footer__services ul li {
        list-style-type: none; }
        .main-footer__services ul li:not(:last-child) {
          margin-bottom: 1em; }
  .main-footer__credits {
    background-color: var(--color-text2); }
    .main-footer__credits p {
      margin: 0;
      padding: 1.5em;
      color: var(--color-accent); }
  .main-footer div[class^=main-footer__]:not(:last-child) {
    margin-bottom: 2.5em; }
  .main-footer h3 {
    margin: 0;
    margin-bottom: 2.125em;
    color: var(--color-white); }
  .main-footer button:not(:last-child) {
    margin-bottom: 1em; }

[class*="button"] {
  outline: none;
  border: none;
  border-radius: .5em;
  padding: 1em;
  color: #455a64;
  background-color: #cfd8dc;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  cursor: pointer;
  width: 100%;
  word-break: break-all;
  transition: all .3s; }
  [class*="button"]:hover {
    background-color: #c3ced3; }
  [class*="button"]:active {
    transform: scale(0.96); }
  [class*="button"]:focus {
    box-shadow: 0 0 0 1px var(--color-accent); }

.button-whatsapp:active, .button-gmail:active, .button-facebook:active, .button-mail:active {
  transform: scale(1); }

.button-secondary, .button-whatsapp, .button-gmail, .button-facebook, .button-mail {
  border: 1px solid; }

.button-secondary, .button-text {
  color: var(--color-second);
  background-color: transparent;
  transition: all .3s; }
  .button-secondary:hover, .button-text:hover {
    background-color: rgba(239, 108, 0, 0.2); }

.button {
  box-shadow: rgba(69, 90, 100, 0.2) 0 2px 4px; }

.button-primary {
  color: #eceff1;
  background-color: var(--color-accent);
  transition: all .3s;
  box-shadow: rgba(41, 98, 255, 0.2) 0 2px 4px; }
  .button-primary:hover {
    background-color: #1553ff; }

.button-text:hover {
  text-decoration: underline; }

.button-whatsapp {
  color: #4CAF50;
  background-color: rgba(76, 175, 80, 0.3); }
  .button-whatsapp:hover {
    background-color: rgba(76, 175, 80, 0.5); }

.button-gmail {
  color: #F44336;
  background-color: rgba(244, 67, 54, 0.3); }
  .button-gmail:hover {
    background-color: rgba(244, 67, 54, 0.5); }

.button-facebook {
  color: #1976d2;
  background-color: rgba(25, 118, 210, 0.3); }
  .button-facebook:hover {
    background-color: rgba(25, 118, 210, 0.5); }

.button-mail {
  color: #FF9800;
  background-color: rgba(255, 152, 0, 0.3); }
  .button-mail:hover {
    background-color: rgba(255, 152, 0, 0.5); }

.button-social-secondary {
  padding: 0;
  color: var(--color-white);
  background-color: transparent; }
  .button-social-secondary:hover {
    background-color: transparent; }
  .button-social-secondary:active {
    transform: initial; }
  .button-social-secondary:focus {
    box-shadow: initial; }

.form {
  border-radius: .5em;
  background-color: var(--color-text);
  padding: 2.5em 1.5em; }
  @media screen and (min-width: 48em) {
    .form {
      padding: 5.5em 2em; } }
  .form form > *:first-child {
    margin-bottom: 1em; }
  .form form > *:nth-child(2) {
    margin-bottom: 1.5em; }
  .form__title {
    display: block;
    margin-bottom: 2.5em;
    color: #fff;
    font-size: calc(var(--h2-font-size) - .5em);
    font-family: var(--font-title);
    text-align: center;
    letter-spacing: var(--letter-spacing); }
  .form__input {
    display: flex;
    border-radius: .5em;
    background-color: var(--color-bg);
    overflow: hidden; }
    .form__input div.icon {
      padding: 1em 1em;
      background-color: var(--color-text2); }
    .form__input input {
      border: none;
      background: transparent;
      padding-left: 1em;
      padding-right: 1em;
      caret-color: var(--color-second);
      color: var(--color-primary);
      width: 100%; }
      .form__input input::-webkit-input-placeholder {
        color: var(--color-text);
        opacity: .4; }
      .form__input input::-moz-placeholder {
        color: var(--color-text);
        opacity: .4; }
      .form__input input:-ms-input-placeholder {
        color: var(--color-text);
        opacity: .4; }
      .form__input input::-ms-input-placeholder {
        color: var(--color-text);
        opacity: .4; }
      .form__input input::placeholder {
        color: var(--color-text);
        opacity: .4; }

[class*=icon-] {
  display: flex;
  justify-content: center;
  align-items: center; }
  [class*=icon-]::before {
    content: "";
    display: inline-block;
    margin-right: 1em;
    min-width: 1.5em;
    min-height: 1.5em; }

.icon-menu::before {
  content: "";
  margin-right: 0;
  min-width: 2.75rem;
  min-height: 2.75rem;
  color: invert(100%) sepia(0%) saturate(7500%) hue-rotate(8deg) brightness(107%) contrast(96%);
  background-image: url("/images/icon-menu-open.svg");
  background-repeat: no-repeat;
  -webkit-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(8deg) brightness(107%) contrast(96%);
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(8deg) brightness(107%) contrast(96%); }

.icon-menu-close::before {
  content: "";
  margin-right: 0;
  color: invert(34%) sepia(41%) saturate(6939%) hue-rotate(219deg) brightness(99%) contrast(104%);
  background-image: url("/images/icon-menu-close.svg");
  background-repeat: no-repeat;
  -webkit-filter: invert(34%) sepia(41%) saturate(6939%) hue-rotate(219deg) brightness(99%) contrast(104%);
  filter: invert(34%) sepia(41%) saturate(6939%) hue-rotate(219deg) brightness(99%) contrast(104%); }

.icon-arrow-left::before {
  content: "";
  margin-right: 0;
  color: invert(45%) sepia(87%) saturate(2573%) hue-rotate(5deg) brightness(98%) contrast(100%);
  background-image: url("/images/icon-arrow-back.svg");
  background-repeat: no-repeat;
  -webkit-filter: invert(45%) sepia(87%) saturate(2573%) hue-rotate(5deg) brightness(98%) contrast(100%);
  filter: invert(45%) sepia(87%) saturate(2573%) hue-rotate(5deg) brightness(98%) contrast(100%); }

.icon-arrow-right::before {
  content: "";
  margin-right: 0;
  color: invert(45%) sepia(87%) saturate(2573%) hue-rotate(5deg) brightness(98%) contrast(100%);
  background-image: url("/images/icon-arrow-right.svg");
  background-repeat: no-repeat;
  -webkit-filter: invert(45%) sepia(87%) saturate(2573%) hue-rotate(5deg) brightness(98%) contrast(100%);
  filter: invert(45%) sepia(87%) saturate(2573%) hue-rotate(5deg) brightness(98%) contrast(100%); }

.icon-user::before {
  content: "";
  margin-right: 0;
  color: invert(66%) sepia(25%) saturate(6026%) hue-rotate(360deg) brightness(103%) contrast(105%);
  background-image: url("/images/icon-user.svg");
  background-repeat: no-repeat;
  -webkit-filter: invert(66%) sepia(25%) saturate(6026%) hue-rotate(360deg) brightness(103%) contrast(105%);
  filter: invert(66%) sepia(25%) saturate(6026%) hue-rotate(360deg) brightness(103%) contrast(105%); }

.icon-pass::before {
  content: "";
  margin-right: 0;
  color: invert(66%) sepia(25%) saturate(6026%) hue-rotate(360deg) brightness(103%) contrast(105%);
  background-image: url("/images/icon-lock.svg");
  background-repeat: no-repeat;
  -webkit-filter: invert(66%) sepia(25%) saturate(6026%) hue-rotate(360deg) brightness(103%) contrast(105%);
  filter: invert(66%) sepia(25%) saturate(6026%) hue-rotate(360deg) brightness(103%) contrast(105%); }

.icon-whatsapp::before {
  content: "";
  color: invert(70%) sepia(8%) saturate(7168%) hue-rotate(71deg) brightness(93%) contrast(54%);
  background-image: url("/images/icon-whatsapp.svg");
  background-repeat: no-repeat;
  -webkit-filter: invert(70%) sepia(8%) saturate(7168%) hue-rotate(71deg) brightness(93%) contrast(54%);
  filter: invert(70%) sepia(8%) saturate(7168%) hue-rotate(71deg) brightness(93%) contrast(54%); }

.icon-mail::before {
  content: "";
  color: invert(66%) sepia(25%) saturate(6026%) hue-rotate(360deg) brightness(103%) contrast(105%);
  background-image: url("/images/icon-mail.svg");
  background-repeat: no-repeat;
  -webkit-filter: invert(66%) sepia(25%) saturate(6026%) hue-rotate(360deg) brightness(103%) contrast(105%);
  filter: invert(66%) sepia(25%) saturate(6026%) hue-rotate(360deg) brightness(103%) contrast(105%); }

.icon-gmail::before {
  content: "";
  color: invert(32%) sepia(78%) saturate(2179%) hue-rotate(341deg) brightness(98%) contrast(96%);
  background-image: url("/images/icon-mail.svg");
  background-repeat: no-repeat;
  -webkit-filter: invert(32%) sepia(78%) saturate(2179%) hue-rotate(341deg) brightness(98%) contrast(96%);
  filter: invert(32%) sepia(78%) saturate(2179%) hue-rotate(341deg) brightness(98%) contrast(96%); }

.icon-facebook::before {
  content: "";
  color: invert(33%) sepia(70%) saturate(4356%) hue-rotate(197deg) brightness(95%) contrast(80%);
  background-image: url("/images/icon-facebook.svg");
  background-repeat: no-repeat;
  -webkit-filter: invert(33%) sepia(70%) saturate(4356%) hue-rotate(197deg) brightness(95%) contrast(80%);
  filter: invert(33%) sepia(70%) saturate(4356%) hue-rotate(197deg) brightness(95%) contrast(80%); }

.icon-whatsapp-white::before {
  content: "";
  color: invert(100%) sepia(0%) saturate(7500%) hue-rotate(8deg) brightness(107%) contrast(96%);
  background-image: url("/images/icon-whatsapp.svg");
  background-repeat: no-repeat;
  -webkit-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(8deg) brightness(107%) contrast(96%);
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(8deg) brightness(107%) contrast(96%); }

.icon-mail-white::before {
  content: "";
  color: invert(100%) sepia(0%) saturate(7500%) hue-rotate(8deg) brightness(107%) contrast(96%);
  background-image: url("/images/icon-mail.svg");
  background-repeat: no-repeat;
  -webkit-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(8deg) brightness(107%) contrast(96%);
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(8deg) brightness(107%) contrast(96%); }

.icon-gmail-white::before {
  content: "";
  color: invert(100%) sepia(0%) saturate(7500%) hue-rotate(8deg) brightness(107%) contrast(96%);
  background-image: url("/images/icon-mail.svg");
  background-repeat: no-repeat;
  -webkit-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(8deg) brightness(107%) contrast(96%);
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(8deg) brightness(107%) contrast(96%); }

.icon-facebook-white::before {
  content: "";
  color: invert(100%) sepia(0%) saturate(7500%) hue-rotate(8deg) brightness(107%) contrast(96%);
  background-image: url("/images/icon-facebook.svg");
  background-repeat: no-repeat;
  -webkit-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(8deg) brightness(107%) contrast(96%);
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(8deg) brightness(107%) contrast(96%); }

.card-services, .card-business {
  border-radius: 1em;
  padding: 2em 1em;
  height: 100%;
  transition: all .3s; }
  .card-services:hover, .card-business:hover {
    transform: scale(0.96); }

.card-services {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: var(--color-primary); }
  .card-services__image {
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em; }
  .card-services__subtitle {
    margin: 0;
    margin-bottom: 1em; }
  .card-services__text {
    display: block;
    margin: 0; }

.card-business {
  --height: 4em;
  display: flex;
  flex-direction: column; }
  .card-business__head {
    display: flex;
    align-items: center;
    margin-bottom: 2.5em; }
  .card-business__container-icon {
    display: flex;
    border-radius: 1em;
    margin-right: 1em;
    width: var(--height);
    height: var(--height);
    background-color: var(--color-primary); }
  .card-business__icon {
    margin: auto;
    width: 2em; }
  .card-business__subtitle {
    margin: 0; }
  .card-business__text {
    margin-bottom: 1.5em; }
  .card-business button {
    margin-top: auto; }

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }
  .glide * {
    box-sizing: inherit; }
  .glide__track {
    overflow: hidden; }
  .glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform; }
    .glide__slides--dragging {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
  .glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent; }
    .glide__slide a {
      -webkit-user-select: none;
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none; }
  .glide__arrows {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .glide__bullets {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .glide--rtl {
    direction: rtl; }

.glide__slide {
  height: initial !important; }

.glide__arrows {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%; }

.glide__arrow {
  flex-basis: 10%;
  background-color: var(--color-text2); }
  .glide__arrow:hover {
    background-color: var(--color-white); }
