/*--------------------------\
    $About us
\--------------------------*/
.about-us {
  position: relative;
  text-align: center;
  
  div.l-container {
    max-width: 40rem;

    @include from(large) {
      display: flex;
      max-width: $max-width;
    }
  }
  &__subtitle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    margin-bottom: 1em;
    color: var(--color-primary);
    
    @include from(large) {
      position: initial;
      text-align: initial; 
    }
  }
  
  .container-image {
    width: 100%;
    padding-top: calc(var(--h2-font-size) + 2em); // hack

    @include from(large) {
      display: flex;
      flex-basis: 40%;
      padding-top: 0;
    }
  }
    &__image { 
      width: 24em;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2.5em;
      @include from(large) {
        margin: auto;
      }
    }

  &__content {
    @include from(large) {
      --margin: 1.5em;
      flex-basis: calc(60% - var(--margin));
      margin-left: var(--margin);
    }
  }
    &__text {
      margin-bottom: 2.5em;
      p { margin-top: 0; }
      p:last-child { margin-bottom: 0; }
      .strong { font-weight: 500; }
      @include from(large) {
        text-align: initial;
      }
    }
    &__contact {
      margin-left: auto;
      margin-right: auto;
      button:first-child { margin-bottom: 1em; }

      @include from(medium) {
        display: flex;
        button:first-child { 
          margin-right: 1em;
          margin-bottom: 0; 
        }
      }
    }
}
