%text-white {
  color: var(--color-white);
}

.main-banner {
  position: relative;
  padding: 2em 1em;
  @include from(medium) { padding: 2em 2em; }
  background-color: var(--color-primary);
  border-radius: 1em;
  overflow: hidden;
  box-shadow: $shadow;
  
  &__hero-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    height: 100%;
    opacity: .08;
    object-fit: cover;
    object-position: center;
  }
  .container { position: relative; }
  &__grid {
    max-width: 24em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @include from(medium) {
      > *:first-child { margin-right: 1em; }
      display: flex;
      max-width: initial;
      margin-left: initial;
      margin-right: initial;
      width: 100%;
    }
  }
  .content-text {
    @include from(medium) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-basis: 40%;
    }
    @include from(1000px) { flex-basis: 50%; }
    
    text-align: center;
    @extend %text-white;
  }
  &__title {
    @include from(medium) {
      text-align: left;
      margin: 0;
      margin-bottom: .5em;
      width: 50%;
    }
  }
  &__description { 
    margin-bottom: 2em; 
    @include from(medium) {
      text-align: left;
      margin: 0;
      max-width: 22em;
    }
  }
  .form-container {
    flex-basis: 60%;
    @include from(1000px) { flex-basis: 50%; }
  }
}
