[class*="button"] {
	outline: none;
	border: none;
	border-radius: .5em;
	padding: 1em;
	color: #455a64;
	background-color: #cfd8dc;
	text-transform: uppercase;
	letter-spacing: var(--letter-spacing);
	cursor: pointer;
	width: 100%;
	transition: all .3s;
	&:hover { background-color: darken(#cfd8dc, 4%); }
	&:active { transform: scale(.96); }
	&:focus { box-shadow: 0 0 0 1px var(--color-accent); }
}


%social-buttons {
  &:active { transform: scale(1) };
}
%border { border: 1px solid; }
%btn {
	color: var(--color-second);
	background-color: transparent;
  transition: all .3s;
	&:hover { background-color: rgba($color-second, .2); }
}


.button { box-shadow: rgba(#455a64, .2) 0 2px 4px; }
.button-primary {
	color: #eceff1;
	background-color: var(--color-accent);
	transition: all .3s;
	box-shadow: rgba($color-accent, .2) 0 2px 4px;;
	
	&:hover { background-color: darken($color-accent, 4%) }
}

.button-secondary {
	@extend %border;
	@extend %btn;
}
.button-text {
  @extend %btn;
	&:hover { text-decoration: underline; }
}

.button-whatsapp {
  @extend %border;
  @extend %social-buttons;
  @include social-buttons($color-whatsapp);
}

.button-gmail {
  @extend %border;
  @extend %social-buttons;
  @include social-buttons($color-gmail);
}

.button-facebook {
  @extend %border;
  @extend %social-buttons;
  @include social-buttons($color-facebook);
}

.button-mail {
  @extend %border;
  @extend %social-buttons;
  @include social-buttons($color-primary);
}
