// [class^=card-] { border: .05em solid black; } // test
%card-style-repeat {
  border-radius: 1em;
  padding: 2em 1em;
  height: 100%;
  transition: all .3s;
  &:hover { transform: scale(.96); }
}

.card-services {
  @extend %card-style-repeat;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: var(--color-primary);

  &__image {
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
  }
  &__subtitle {
    margin: 0;
    margin-bottom: 1em;
  }
  &__text { 
    display: block;
    margin: 0; 
  }
}


.card-business {
  --height: 4em;
  @extend %card-style-repeat;
  display: flex;
  flex-direction: column;

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 2.5em;
  }
    &__container-icon {
      display: flex;
      border-radius: 1em;
      margin-right: 1em;
      width: var(--height);
      height: var(--height);
      background-color: var(--color-primary);
    }
    &__icon {
      margin: auto;
      width: 2em;
    }
    &__subtitle { margin: 0; }
  &__text { margin-bottom: 1.5em; }
  button { margin-top: auto; }
}
