.main-footer {
  border-radius: 1em;
  margin-bottom: 2em;
  padding-top: 4em; // 64px
  background-color: var(--color-text);
  overflow: hidden;
  
  &__subtitle { 
    margin-top: 0;
    margin-bottom: 4em;
    color: var(--color-primary); 
  }

  .container { 
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 4em; // 64px
  }
  div[class^=main-footer__]:not(:last-child) { margin-bottom: 2.5em; }
  h3 { 
    margin: 0;
    margin-bottom: 2.125em; // 34px
    color: var(--color-white); 
  }


  &__contact { button:not(:last-child) { margin-bottom: .5em; } }
  &__socialnetworks {}
  &__services {
    ul {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      text-align: left; 
      width: 16em;
      li {
        color: var(--color-white);
        list-style-type: none;
        &:not(:last-child) { margin-bottom: 1em; }
      }
    }
  }
  &__credits {
    background-color: var(--color-text2);
    p {
      margin: 0;
      padding: 1.5em;
      color: var(--color-accent);
    }
  }
}
