.main-footer {
  border-radius: 1em;
  margin-bottom: 2em;
  padding-top: 4em; // 64px
  background-color: var(--color-text);
  overflow: hidden;
  div.l-container { flex-direction: column; }
  .container { 
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 4em; // 64px

    @include from(medium) {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      padding-right: 0; 
    }
  }
  &__subtitle { 
    margin-top: 0;
    margin-bottom: 4em;
    color: var(--color-primary); 
    @include from(medium) {
      width: 100%;
    }
  }
  &__contact {  
    flex-basis: 50%;
    @include from(large) {
      flex-basis: 33.333333333333336%;
    }
  }
  &__socialnetworks { 
    flex-basis: 50%; 
    @include from(large) {
      flex-basis: 33.333333333333336%;
    }
  }
  &__services {
    width: 100%;
    @include from(large) {
      flex-basis: 33.333333333333336%;
    }
    ul {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
      color: var(--color-white);
      li {
        list-style-type: none;
        &:not(:last-child) { margin-bottom: 1em; }
      }
    }
  }
  &__credits {
    background-color: var(--color-text2);
    p {
      margin: 0;
      padding: 1.5em;
      color: var(--color-accent);
    }
  }
  div[class^=main-footer__]:not(:last-child) { margin-bottom: 2.5em; }
  h3 { 
    margin: 0;
    margin-bottom: 2.125em; // 34px
    color: var(--color-white); 
  }
  button:not(:last-child) { margin-bottom: 1em; }
}
