// 👀 La clase ".form" es un container div, no es un "tag form".
.form-container {
  border-radius: .5em;
  background-color: var(--color-text);
  padding: 2.5em 1.5em;
  @include from(medium) { padding: 5.5em 2em; }

  .title {
    display: block;
    margin-bottom: 2.5em;
    color: #fff;
    font-size: calc(var(--h2-font-size) - .5em);
    font-family: var(--font-title);
    letter-spacing: var(--letter-spacing);
  }
  .text { color: var(--color-primary); }
}


.form {
  > *:not(:last-child) { margin-bottom: 1em; }
  
  &__input {
    display: flex;
    border-radius: .5em;
    background-color: var(--color-bg);
    overflow: hidden;

    .icon {
      padding: 1em 1em;
      background-color: var(--color-text2);
    }
    input { 
      border: none;
      outline: none;
      background: transparent;
      padding-left: 1em;
      padding-right: 1em;
      caret-color: var(--color-second);
      color: var(--color-primary);
      width: 100%;
      &::placeholder { 
        color: var(--color-text); 
        opacity: .4;
      }
    }
    &--hidden {
      display: none;
      input { padding-left: 0; }
    }
  }
  input[type=submit] { margin-bottom: 2em; }
}
