$color-primary: invert(66%) sepia(25%) saturate(6026%) hue-rotate(360deg) brightness(103%) contrast(105%);
$color-white: invert(100%) sepia(0%) saturate(7500%) hue-rotate(8deg) brightness(107%) contrast(96%);
$color-whatsapp: invert(70%) sepia(8%) saturate(7168%) hue-rotate(71deg) brightness(93%) contrast(54%);
$color-facebook: invert(33%) sepia(70%) saturate(4356%) hue-rotate(197deg) brightness(95%) contrast(80%);
$color-gmail: invert(32%) sepia(78%) saturate(2179%) hue-rotate(341deg) brightness(98%) contrast(96%);

[class*=icon-] {
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
      content: "";
      display: inline-block;
      margin-right: 1em;
      width: 1.5em;
      height: 1.5em;
      filter: $color-white;
  }
}
.icon-user {
  @include addIcon('/images/icon-user.svg', $color-primary) {
    margin-right: 0;
  }
}
.icon-pass {
  @include addIcon('/images/icon-lock.svg', $color-primary) {
    margin-right: 0;
  }
}
// descargar icono que no falle
.icon-whatsapp {
  @include addIcon('/images/icon-whatsapp.svg', $color-whatsapp)
}

.icon-mail {
  @include addIcon('/images/icon-mail.svg', $color-primary)
}

.icon-gmail {
  @include addIcon('/images/icon-mail.svg', $color-gmail)
}

.icon-facebook {
  @include addIcon('/images/icon-facebook.svg', $color-facebook)
}
