/* Brand color palette */
$color-primary: invert(66%) sepia(25%) saturate(6026%) hue-rotate(360deg) brightness(103%) contrast(105%);
$color-second: invert(45%) sepia(87%) saturate(2573%) hue-rotate(5deg) brightness(98%) contrast(100%);
$color-accent: invert(34%) sepia(41%) saturate(6939%) hue-rotate(219deg) brightness(99%) contrast(104%);
$color-white: invert(100%) sepia(0%) saturate(7500%) hue-rotate(8deg) brightness(107%) contrast(96%);
$color-whatsapp: invert(70%) sepia(8%) saturate(7168%) hue-rotate(71deg) brightness(93%) contrast(54%);
$color-facebook: invert(33%) sepia(70%) saturate(4356%) hue-rotate(197deg) brightness(95%) contrast(80%);
$color-gmail: invert(32%) sepia(78%) saturate(2179%) hue-rotate(341deg) brightness(98%) contrast(96%);
/* template default color blue */
// $color-primary: invert(45%) sepia(75%) saturate(1624%) hue-rotate(184deg) brightness(98%) contrast(94%);
// $color-second: invert(29%) sepia(46%) saturate(5123%) hue-rotate(185deg) brightness(91%) contrast(98%);
// $color-accent: invert(28%) sepia(58%) saturate(3641%) hue-rotate(220deg) brightness(101%) contrast(102%);

[class*=icon-] {
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
      content: "";
      display: inline-block;
      margin-right: 1em;
      min-width: 1.5em;
      min-height: 1.5em;
  } 
}

.icon-menu {
  @include addIcon('/images/icon-menu-open.svg', $color-white) {
    margin-right: 0;
    min-width: $header-height - 1.25;
    min-height: $header-height - 1.25;
  }
}
.icon-menu-close {
  @include addIcon('/images/icon-menu-close.svg', $color-accent) {
    margin-right: 0;
  }
}
.icon-arrow-left {
  @include addIcon('/images/icon-arrow-back.svg', $color-second) {
    margin-right: 0;
  }
}
.icon-arrow-right {
  @include addIcon('/images/icon-arrow-right.svg', $color-second) {
    margin-right: 0;
  }
}
.icon-user {
  @include addIcon('/images/icon-user.svg', $color-primary) {
    margin-right: 0;
  }
}
.icon-pass {
  @include addIcon('/images/icon-lock.svg', $color-primary) {
    margin-right: 0;
  }
}
// descargar icono que no falle
.icon-whatsapp {
  @include addIcon('/images/icon-whatsapp.svg', $color-whatsapp)
}

.icon-mail {
  @include addIcon('/images/icon-mail.svg', $color-primary)
}

.icon-gmail {
  @include addIcon('/images/icon-mail.svg', $color-gmail)
}

.icon-facebook {
  @include addIcon('/images/icon-facebook.svg', $color-facebook)
}

// Icons white color
.icon-whatsapp-white {
  @include addIcon('/images/icon-whatsapp.svg', $color-white)
}

.icon-mail-white {
  @include addIcon('/images/icon-mail.svg', $color-white)
}

.icon-gmail-white {
  @include addIcon('/images/icon-mail.svg', $color-white)
}

.icon-facebook-white {
  @include addIcon('/images/icon-facebook.svg', $color-white)
}
